/*
Theme Name: realliances
Author: Angélique Gigant, Rosa Jacquier et Priscilla Brouté
Description: C'est le thème 2020 pour le site realliances
Version: 5.1.1
Requires at least: 5.4
Requires PHP:      7.2
License:           MIT
License URI:       https://mit-license.org/
Text Domain: enssop
*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#ancre{
    width: 30px;
    position: fixed;
    margin-left: 75%;
    margin-top: 550px;
}
#couleurchevron{
    fill: rgba(232,11,0,1);
}
/* header */
#menu-menu {
list-style-type: none;
line-height: 49px;
font-size: 16px;
font-weight: bold;
}

@media only screen and (max-width: 991px) /* version mobile */ {
    #menu-menu {
        display: block;
        }
        ul.sub-menu {
            display: block;
        }
        .menu-item li {
            display: inherit !important;
        }        
}
@media only screen and (min-width: 992px) /* version ordi */{
    #menu-menu {
        display: inline-flex;
        }
        .sub-menu {position: absolute;
            right: 0;
           background-color: white;
           opacity: 0.7;
          background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(250,116,26,1) 70%, rgba(232,11,0,1) 100%);
        }
        .menu-item li {
            display: none;
        }
        .menu-item:hover li {
            display: block;
            margin-left: -39px;}
}

#menu-menu li {margin:0 60px;}

.logo {vertical-align: middle;
        text-align:center;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(250,116,26,1) 70%, rgba(232,11,0,1) 100%);
        
}



.sub-menu a {white-space: nowrap;
text-align: right;
margin-left: -30px;
margin-right: 35px;
}


ul.sub-menu .menu-item{margin: 0;}

.nav   {
    display: flex;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(250,116,26,1) 70%, rgba(232,11,0,1) 100%);}

.menu-menu-container ul li {margin: 0 10px;font-size: 20px;}

.menu-menu-container ul li a {color: black;}


.menu-item{margin-top: 35px;}



.menu-item-type-post_type a {margin-top: 50px;}

/* page bienvenue */
.titre{color: rgba(232,11,0,1);}

@media only screen and (max-width: 991px) /* version mobile */ {
    .enfants_eau {
        width: 100%;
        } 
    .enfant{
        text-align: center;
        margin-top: 15px;
    }
    .colonne-cabinet{background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(232,73,0,1) 100%);}
.colonne-horaire{background-color: #e84900;}
.colonne-contact{background: rgb(232,73,0);
        background: linear-gradient(180deg, rgba(232,73,0,1) 0%, rgba(255,255,255,1) 50%);}

}
@media only screen and (min-width: 992px) /* version ordi */{
    .enfants_eau {
        width: 300%;
        }
        .enfant {
            margin-top: 100px;
            margin-left: 400px;
        }
        .btn{
            margin-left: 35px;
        }
        .colonne-cabinet{background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(232,73,0,1) 100%);}
.colonne-horaire{background-color: #e84900;}
.colonne-contact{background: rgb(232,73,0);
            background: linear-gradient(90deg, rgba(232,73,0,1) 0%, rgba(255,255,255,1) 50%);}
}

@media only screen and (max-width: 991px) /* version mobile */ {
input, textarea{
    width: 300px;
}
}

/* page mentions et confidentialites */

#conditions{
width: 500px;
margin: 0 700px;
}

/* footer */

@media only screen and (max-width: 991px) /* version mobile */ {
    #menu-footer {
        display: block;
        } 
}
@media only screen and (min-width: 992px) /* version ordi */{
    #menu-footer {
        display: inline-flex;
        }
}

#menu-footer {
list-style-type: none;
padding: 20px 0;
}

.menu-footer-container{background: rgb(255,255,255);
                        background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(250,116,26,1) 60%, rgba(232,11,0,1) 100%);   
                         text-align: center;
                        font-size: 15px;}
 ul#menu-footer.menu {margin-bottom: 0;}

.menu-footer-container ul li {margin: 10px 55px;}

.menu-footer-container ul li a {color: black;}

.menu-item li  {display: none;}

.menu-item{margin-top: 35px;}

.menu-item:hover li {display: block;
                        margin-left: -39px;}
.contacter{
    text-align:center;
    margin:50px;
}

.menu-item-type-post_type a {margin-top: 50px;}

/* sophroanalyse */

.opacite{
    background-color: white;
    opacity: 50%;
    height: 100%;}

@media only screen and (max-width: 991px) /* version mobile */ {
   .nature{
       padding: 0 !important;
   }
    }
 @media only screen and (min-width: 992px) /* version ordi */{
        .opacite {
            margin-left: 50%;
            }
            .nature {
                margin-left: -4rem !important;
            }
    }

.bougie {
    background-attachment: fixed;
}


p{text-align: justify;}

h2.titre.ml-5.pl-5 {padding-top: 20px;
                    margin-bottom: 30px;}


.femme { margin: 0 auto;
padding-bottom: 40px;}
/* page prise de rendez-vous */



.carte{
    display:flex;
    justify-content:space-around;
}

/* page coaching */

@media only screen and (max-width: 991px) /* version mobile */ {
    .barriere{
        width: 100%;
        margin: 0 auto;
        } 
}
@media only screen and (min-width: 992px) /* version ordi */{
    .barriere{
        width: 300%;
    }
}

/* image coquelicot */

@media only screen and (max-width: 991px) /* version mobile */ {
    .coquelicot{
        width: 200%;
        } 
}
@media only screen and (min-width: 992px) /* version ordi */{
    .coquelicot{
        width: 100%;
    }
}
